

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1DA1F2">


    <div class="my-auto mx-4">
        <a class="navbar-brand text-white" href="<%=root_path %>">Tweeter<i class="fab fa-twitter"></i></a>
    </div>
    <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary mx-4'  %></li>
        <% else %>
            
            <li><%= button_to 'Ingresar', new_user_session_path, :class => 'btn btn-primary mx-4' %></li>
            <li><%= button_to 'Registrarse', new_user_registration_path, method: :get, :class => 'btn btn-primary mx-4' %></li>
        <% end %>
    </ul>
       <div class="d-flex align-items-end">
        <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
          <%= form.text_field :query, value: params[:query], class: 'form-control me-2', placeholder: '#search' %>
        <% end %>
        </div>

</nav>

    <% if user_signed_in?  %>
        <div class="container">
            <b><p style="color:black" >Bienvenido/a:<%= current_user.user_name %><img src="<%= current_user.user_photo %>" width="40" height="40" class="rounded-circle mb-2" ></p></b>
        </div>
    <%end%>
